<form action="/users/insert_bills" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="username" name="username"><br><br>
    <input type="number" placeholder="Invoice number" name="invno"><br><br>
    <input type="date" placeholder="Invoice date" name="date"><br><br>
    <input type="number" placeholder="Amount" name="amount"><br><br>
    <input type="file" placeholder="Upload File" name="file" required><br><br>
    <button type="submit">Submit</button>
  </form>