<form action="/users/insert_users" method="POST">
    <input type="text" placeholder="Full Name" name="name"><br><br>
    <input type="text" placeholder="username" name="username"><br><br>
    <input type="number" placeholder="Employee number" name="eid"><br><br>
    <input type="text" placeholder="Email_Id" name="mailid"><br><br>
    <input type="text" placeholder="Role" name="role"><br><br>
    <button type="submit">Submit</button>
  </form>