<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username"><br><br>
    <input type=password placeholder="Password" name="password"><br><br>
    <button type="submit">Submit</button>
  </form>